/* Overrides for default VIZIA widgets */

:root {
    background-color: #292929;
    color: #e0ce91;
    font-size: 19;
    /*
     * NOTE: vizia's font rendering looks way too dark and thick. Going one font
     *       weight lower seems to compensate for this.
     */
    font-weight: light;
}

.parameters {
    top: 0px;
    child-left: 9px;
    /* child-right: 9px; */
    width: auto;
}

param-slider {
    height: 30px;
    border-width: 1px;
    background-color: #4e4e4e;
    border-color: #fabdf0;
    transition: background-color 300ms;
}

param-slider:active,
param-slider:hover {
    background-color: #292929;
    transition: background-color 100ms;
}

param-slider .fill {
    background-color: #5879af;
}
/* param-slider .fill--modulation { */
/* background-color: #a4eafc69; */
/* } */

/* This is a textbox, but we want it to appear just like the label */
param-slider .value-entry {
    /* Vizia doesn't support the unset value */
    /* background-color: transparent; */
    background-color: #292929;
    border-width: 0px;
    child-space: 1s;
}
/* param-slider .value-entry .caret { */
/* background-color: #fdf6e3; */
/* } */
/* param-slider .value-entry .selection { */
/* background-color: #fdf6e330; */
/* } */
.plugin-name {
    font-size: 42;
    top: 12px;
    right: 18px;
}

.meters_and_name {
    top: 14px;
    right: 9px;
    height: 80px;
}

.global-title {
    font-size: 30;
    /* // This should align nicely with the right edge of the slider */
    left: 269px;
    right: 1s;
    top: 9px;
    bottom: 1px;
}

.dsp-title {
    font-size: 30;
    /* // This should align nicely with the right edge of the slider */
    left: 269px;
    right: 1s;
    top: 1s;
    bottom: 0px;
}

.column-title {
    font-size: 23;
    /* // This should align nicely with the right edge of the slider */
    right: 9px;
}

delay-graph {
    top: 9px;
    right: 9px;
    border-width: 2px;
    outline-width: 5px;
    border-color: #4e4e4e;
    outline-color: #5879af;
    selection-color: #fabdf0;
}

generic-ui .row {
    col-between: 6px;
    height: auto;
    layout-type: row;
}
label {
    left: 1s;
    right: 1s;
    top: 1s;
    bottom: 1s;
}
generic-ui .label {
    left: 1s;
    right: 9px;
    top: 1s;
    bottom: 1s;
}

peak-meter {
    height: 30px;
    width: 589px;
    color: #e0ce91;
    left: 0px;
    bottom: 6px;
}

peak-meter .bar {
    height: 50%;
    border-width: 1px;
    border-color: #4e4e4e;
}

peak-meter .ticks {
    height: 50%;
}
peak-meter .ticks__tick {
    top: 0px;
    width: 1px;
    height: 30%;
}
peak-meter .ticks__label {
    top: 4px; /* In pixels in an attempt to get this to better align to the grid */
    font-size: 11; /* 14.667px */
}
.meter-label {
    child-left: 1s;
    right: 0px;
    /* top: 0px; */
    bottom: 24px;
    font-size: 15;
    width: 40px;
}

