/* Overrides for default VIZIA widgets */

:root {
    background-color: #292929;
    color: #e0ce91;
    font-size: 19;
    font-family: 'Noto Sans';
    /*
     * NOTE: vizia's font rendering looks way too dark and thick. Going one font
     *       weight lower seems to compensate for this.
     */
    font-weight: 200;
}

.parameters-left {
    top: 0px;
    bottom: 9px;
    left: 0px;
    right: 1s;
    child-right: 9px;
    width: 50%;
}

.parameters-right {
    top: 0px;
    bottom: 9px;
    right: 13px;
    width: 50%;
}
.parameters-all {
    height: 50%;
}
param-slider {
    height: 30px;
    width: 210px;
    border-width: 1px;
    background-color: #4e4e4e;
    border-color: #fabdf0;
    shadow: 0px 0px 13px #fabdf03f;
    transition: background-color 240ms;
}

param-slider:active,
param-slider:hover {
    background-color: #292929;
    transition: background-color 120ms;
}

param-slider .fill {
    background-color: #5879af;
}
/* param-slider .fill--modulation { */
/* background-color: #a4eafc69; */
/* } */

/* This is a textbox, but we want it to appear just like the label */
param-slider .value-entry {
    /* Vizia doesn't support the unset value */
    background-color: transparent;
    border-width: 0px;
    child-space: 1s;
}
param-slider .value-entry .caret {
    background-color: #fabdf0;
}
param-slider .value-entry .selection {
    background-color: #fabdf0;
}

.plugin-name {
    color: #fabdf0;
    font-size: 42;
    top: 13px;
    right: 21px;
    bottom: 0px;
    shadow: 0px 0px 16px #fabdf010;
    background-color: #fabdf00a;
}

.group-title {
    font-size: 30;
    /* // This should align nicely with the right edge of the slider */
    left: 323px;
    right: 1s;
    top: 0px;
    bottom: 9px;
    shadow: 0px 0px 13px #e0ce9109;
    background-color: #e0ce9106;
}

.mid-group-title {
    font-size: 30;
    /* // This should align nicely with the right edge of the slider */
    left: 323px;
    right: 1s;
    top: 1s;
    bottom: 9px;
    shadow: 0px 0px 13px #e0ce9109;
    background-color: #e0ce9106;
}

.column-title {
    font-size: 23;
    left: 1s;
    right: 0px;
    shadow: 0px 0px 13px #e0ce9109;
    background-color: #e0ce9106;
}
.low-velocity-minimal-title {
    font-size: 23;
    left: 280px;
    /* right: 0px; */
    shadow: 0px 0px 13px #e0ce9109;
    background-color: #e0ce9106;
}
.column-title-group {
    height: auto;
    left: 18px;
    right: 0px;
    top: 19px;
    bottom: 9px;
}
.column-title {
    font-size: 23;
    left: 1s;
    right: 0px;
}

.slider-label {
    left: 1s;
    right: 9px;
    top: 1s;
    bottom: 1s;
    shadow: 0px 0px 13px #e0ce9109;
    background-color: #e0ce9106;
}

delay-graph {
    top: 13px;
    bottom: 4px;
    left: 13px;
    right: 13px;
    border-width: 1px;
    outline-width: 7px;
    border-color: #4e4e4e;
    outline-color: #5879af;
    selection-color: #fabdf0;
    background-color: #292929;
}

.tap-nr-label {
    left: 1s;
    right: 11px;
    top: 1s;
    bottom: 7px;
    shadow: 0px 0px 13px #e0ce9109;
    background-color: #e0ce9106;
}
.tap-length-label {
    left: 1s;
    right: 11px;
    top: 0px;
    bottom: 7px;
    shadow: 0px 0px 13px #e0ce9109;
    background-color: #e0ce9106;
}

action-trigger {
    width: 210px;
    height: 30px;
    top: 0px;
    bottom: 0px;
    background-color: #4e4e4e;
    border-color: #5879af;
    outline-color: #e0ce91;
    selection-color: #fabdf0;
    border-width: 1px;
    shadow: 0px 0px 5px #fabdf0;
    transition: background-color 240ms;
}

action-trigger:hover {
    /* background-color: #292929; */
    transition: background-color 120ms;
}
.action-name {
    right: 9px;
    top: 1s;
    bottom: 4px;
    shadow: 0px 0px 13px #e0ce9109;
    background-color: #e0ce9106;
}
.row {
    height: 30px;
    layout-type: row;
    bottom: 6px;
}

.column {
    width: 269px;
    height: auto;
    layout-type: column;
}
.param-group {
    height: auto;
}
label {
    left: 1s;
    right: 1s;
    top: 1s;
    bottom: 1s;
}
